@using QuickServePOS.Models.ViewModel.Order
@model OrderDetailsViewModel

<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="cartCanvas">

    <!-- HEADER -->

    <div class="offcanvas-header border-bottom">

        <h5 class="fw-bold mb-0">

            Running Order

        </h5>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas">
        </button>

    </div>

    <!-- BODY -->

    <div class="offcanvas-body d-flex flex-column">

        <div id="cartCanvasContent">

            <partial name="_CartCanvasBodyPartialView"
                     model="Model" />

        </div>

    </div>

</div>