@using QuickServePOS.Models.DTO.Menu
@model List<CategoryDto>

<div class="category-scroll-wrapper">

    <div class="d-flex gap-3 overflow-auto pb-2">

        @foreach (var category in Model)
        {
            <button class="btn btn-outline-dark
                               rounded-pill
                               px-4
                               py-2
                               category-tab-btn"
                    data-categoryid="@category.Id">

                @category.Name

            </button>
        }

    </div>

</div>