@using QuickServePOS.Models.ViewModel.Menu
@model List<CategoryViewModel>

@{
    ViewData["Title"] = "Category Management";
}

<div class="card border-0 shadow-sm">

    <div class="card-header d-flex justify-content-between align-items-center">

        <h4 class="mb-0">
            Category Management
        </h4>

        <button class="btn btn-primary"
                onclick="OpenModal('/Category/Create','Add Category')">

            <i class="bi bi-plus-circle"></i>
            Add Category
        </button>

    </div>

    <div class="card-body">

        <div class="table-responsive" id="categoryTableContainer">

            <partial name="_CategoryTablePartialView" model="Model" />

        </div>

    </div>

</div>
@section Scripts {

    <script src="~/js/modules/category.js"></script>

}