@using QuickServePOS.Models.ViewModel
@using QuickServePOS.Models.ViewModel.Authentication
@using QuickServePOS.Models.ViewModel.Profile
@model ProfileUpdateViewModel
@{
    ViewData["Title"] = "ProfileEdit";
}

<div class="card">

    <div class="card-header">
        <h4>My Profile</h4>
    </div>

    <div class="card-body">

        <div class="text-center mb-4">

            @if (!string.IsNullOrEmpty(Model.ProfileImagePath))
            {
                <img src="@Model.ProfileImagePath"
                     width="120"
                     height="120"
                     class="rounded-circle border" />
            }
            else
            {
            <img src="~/uploads/profile/default_user.jpg"
                     width="120"
                     height="120"
                     class="rounded-circle border" />
            }

        </div>

        <form asp-action="UploadPhoto"
              method="post"
              enctype="multipart/form-data"
              class="mb-4">

            <div class="row">

                <div class="col-md-6">

                    <input asp-for="Image"
                           type="file"
                           class="form-control" />
                </div>

                <div class="col-md-3">

                    <button class="btn btn-primary">
                        Upload Photo
                    </button>

                </div>

            </div>

        </form>

        <form asp-action="ProfileEdit" method="post">

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>Name</label>

                    <input asp-for="Name"class="form-control" />
                    <span asp-validation-for="Name"class="text-danger"></span>

                </div>

                <div class="col-md-6 mb-3">
                    <label>Email</label>

                    <input asp-for="Email"class="form-control" readonly />
                </div>

                <div class="col-md-6 mb-3">
                    <label>Phone Number</label>

                    <input asp-for="PhoneNumber"class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                </div>

                <div class="col-md-6 mb-3">
                    <label>DOB</label>

                    <input asp-for="DOB" type="date" class="form-control" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Gender</label>

                    <select asp-for="Gender" class="form-control">

                        <option value="">Select</option>
                        <option>Male</option>
                        <option>Female</option>
                     
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Joining Date</label>

                    <input asp-for="JoiningDate" type="date"class="form-control" readonly/>
                </div>

                <div class="col-12 mb-3">
                    <label>Address</label>
                    <textarea asp-for="Address" class="form-control"></textarea>
                </div>

            </div>

            <button class="btn btn-primary">
                Update Profile
            </button>

        </form>

    </div>

</div>

