@using QuickServePOS.Models.ViewModel.KOT
@model List<KitchenQueueViewModel>

@{
    ViewData["Title"] = "Ready Queue";
}

<div class="container-fluid px-2">

    <div class="card">

        <div class="card-header d-flex
                    justify-content-between
                    align-items-center">

            <h4 class="mb-0">

                Ready Orders Queue

            </h4>


            <div class="d-flex gap-2">

                @if (User.IsInRole("KitchenStaff"))
                {
                    <a asp-controller="Kitchen"
                       asp-action="Index"
                       class="btn btn-dark">

                        Kitchen Queue

                    </a>
                }


                <a asp-controller="Kitchen"
                   asp-action="ReadyQueue"
                   class="btn btn-success">

                    Ready Queue

                </a>


                <button class="btn btn-primary"
                        id="refreshReadyQueueBtn">

                    Refresh

                </button>

            </div>

        </div>


        <div class="card-body p-2">

            <div id="readyQueueContainer">

                <partial name="_ReadyQueuePartial"
                         model="Model" />

            </div>

        </div>

    </div>

</div>

@section Scripts
{
    <script src="~/js/modules/ready_card.js">
    </script>
}